<ion-content>
    <div>
        <ion-list>
            <ion-item>
                    {{listado3.nombre}} | {{listado3.descripcion}} | {{listado3.categoria}} | {{listado3.precio}} |
                    <div *ngif= "listado3.categoria == 4">
                        {{listado3.vehiculo}} | {{listado3.km}} | {{listado3.anyos}}|
                    </div>
                    <div *ngif= "listado3.categoria == 3">
                        {{listado3.m2}} | {{listado3.nbanyos}} | {{listado3.nhabitaciones}} | {{listado3.localidad}} |
                    </div>
                    <div *ngif= "listado3.categoria == 1">
                        {{listado3.estado}}
                    </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>